### Import Basic Packages

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Read Data

In [3]:
train_df = pd.read_csv("./kaggle/input/train_relabelled.csv")
train_df.head()

,id,keyword,location,text,target,target_relabelled
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,1

In [4]:
#read the modified train data 
#drop original target and rename target_relabelled to be target, so that we can use the previous code to run models
train_df = pd.read_csv("./kaggle/input/train_relabelled.csv")
train_df = train_df.drop('target', axis=1)
column_mapping = {'target_relabelled': 'target'}
train_df = train_df.rename(columns=column_mapping)
train_df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [7]:
# Set the max_colwidth option to None to display full width
pd.set_option('max_colwidth', None)

### Duplication Tweet Problem

Certain tweets appear almost identical, with variations primarily in the URL at the beginning and end of the sentences or some extra words. This could be attributed to the fact that these tweets are retweets.

This duplication problem may cause overfitting and misleading when training our models.

In [8]:
# Ex1
# Filter rows containing the specific text
text_to_search = 'Twelve feared killed in Pakistani air ambulance helicopter crash'
train_df[train_df['text'].str.contains(text_to_search)].text

172    http://t.co/AY6zzcUpnz Twelve feared killed in Pakistani air ambulance helicopter crash http://t.co/sC9dNS41Mc
174        Twelve feared killed in Pakistani air ambulance helicopter crash - Reuters http://t.co/mDnUGVuBwN #yugvani
177                           Twelve feared killed in Pakistani air ambulance helicopter crash http://t.co/Xum8YLcb4Q
182       #news Twelve feared killed in Pakistani air ambulance helicopter crash http://t.co/bFeS5tWBzt #til_now #DNA
183    http://t.co/7xGLah10zL Twelve feared killed in Pakistani air ambulance helicopter crash http://t.co/THmblAATzP
190    http://t.co/FCqmKFfflW Twelve feared killed in Pakistani air ambulance helicopter crash http://t.co/vAyaYmbNgu
191                           Twelve feared killed in Pakistani air ambulance helicopter crash http://t.co/3bRme6Sn4t
196                  #reuters Twelve feared killed in Pakistani air ambulance helicopter crash http://t.co/ShzPyIQok5
197    http://t.co/pWwpUm6RBj Twelve feared killed in Pakistani air ambulance helicopter crash http://t.co/ySpON4d6Qo
201    http://t.co/FueRk0gWui Twelve feared killed in Pakistani air ambulance helicopter crash http://t.co/Mv7GgGlmVc
202    http://t.co/X5YEUYLT1X Twelve feared killed in Pakistani air ambulance helicopter crash http://t.co/2UgrMd1z1n
203                Twelve feared killed in Pakistani air ambulance helicopter crash http://t.co/TH9YwBbeet #worldNews
204                Twelve feared killed in Pakistani air ambulance helicopter crash http://t.co/X2Qsjod40u #worldnews
207    http://t.co/J8TYT1XRRK Twelve feared killed in Pakistani air ambulance helicopter crash http://t.co/9d4nAzOI94
Name: text, dtype: object

In [9]:
# Ex1
# Filter rows containing the specific text
text_to_search = 'rson suspect linked to 30 fires caught in Northern California'
train_df[train_df['text'].str.contains(text_to_search)].text

391                                  Arson suspect linked to 30 fires caught in Northern California http://t.co/EJ2GHNAfHY
398    RelaxInPR: miprv: RT latimes: Arson suspect linked to 30 fires caught in Northern California http://t.co/ylhAyfaOOu
408                   Arson suspect linked to 30 fires caught in Northern California http://t.co/wnuqQAtTTP (via @latimes)
410              Arson suspect linked to 30 fires caught in Northern California - Los Angeles Times http://t.co/PrRB4fhXtv
411                                  Arson suspect linked to 30 fires caught in Northern California http://t.co/u1fuWrGK5U
417                                  Arson suspect linked to 30 fires caught in Northern California http://t.co/mmGsyAHDzb
Name: text, dtype: object

In the initial example, the pattern is straightforward. If we eliminate the words surrounding the URL (including the URL itself), we can discern that they all represent the same sentence. However, in the second example, the pattern is less distinct. Currently, our efforts are primarily focused on addressing the pattern observed in the first example. Nevertheless, it's worth noting that there is room for further improvement in the dataset preprocessing.