# ETL Project

This project aims to use Python to interact with Postgre Database.

### Reference Vedio

https://www.youtube.com/watch?v=K45k-gNNzGo&list=PLBJe2dFI4sgukOW6O0B-OVyX9c6fQKJ2N&index=2

### Prerequisite

Follow the instruction to install postgre sql: https://www.postgresqltutorial.com/postgresql-getting-started/install-postgresql/

In [3]:
# !pip install psycopg2

In [2]:
import psycopg2

First, we start with some examples of using Python to interact with the database.

### Create a connection to the database

In [5]:
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=s516824") #change password to the one you set during the postgre installation
except psycopg2.Error as e:
    print("Error: Couldn't make connection to the Postgres database")
    print(e)

### Use the connection to get a cursor that can be used to execute queries

In [6]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get curser to the database")
    print(e)

### Set automatic commit to be true so that each action is committed without having to call conn.commit() after each command

In [7]:
conn.set_session(autocommit=True)

### Create a database to do the work

In [10]:
try:
    cur.execute("create database myfirstdb")
except psycopg2.Error as e:
        print(e)

you can open your SQL Shell and type \l to check if you sucessfully created "myfirstdb"

### Close the connection to the "postgres" and create a new connection to "myfirstdb"

In [12]:
try:
    conn.close()
except psycopg2.Error as e:
    print(e)

try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=myfirstdb user=postgres password=s516824") #change password to the one you set during the postgre installation
except psycopg2.Error as e:
    print("Error: Couldn't make connection to the Postgres database")
    print(e)

try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get curser to the database")
    print(e)
    
conn.set_session(autocommit=True)

### Create a table containing below columns

stuent_id

name

age

gender

subject

marks

In [13]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS students (student_id int, name varchar, age int, gender varchar, subject varchar, marks int);")
except psycopg2.Error as e:
    print(e)

To check the newly created table, use SQL Sheel again and type "\c myfirstdb" to connect to our newly created database. Then type "\dt" to check the new table.

### Insert two rows in the table

1, "Raj", 23, "Male", "Python", 85

2, "Priya", 22, "Female", "Python", 86

In [14]:
try:
    cur.execute("INSERT INTO students (student_id , name, age, gender, subject, marks) \
                VALUES (%s,%s,%s,%s,%s,%s)",\
               (1, "Raj", 23, "Male", "Python", 85))
except psycopg2.Error as e:
    print(e)

try:
    cur.execute("INSERT INTO students (student_id , name, age, gender, subject, marks) \
                VALUES (%s,%s,%s,%s,%s,%s)",\
               (2, "Priya", 22, "Female", "Python", 86))
except psycopg2.Error as e:
    print(e)

### Validate inserted data

In [17]:
try:
    cur.execute("SELECT * FROM students;")
except psycopg2.Error as e:
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Raj', 23, 'Male', 'Python', 85)
(2, 'Priya', 22, 'Female', 'Python', 86)

We can go the same thing in SQL Shell by typing "SELECT * FROM students;"

### Close the cursor and connection

In [18]:
cur.close()
conn.close()